Source: extpython-python${PYTHON_MAJOR}
Section: unknown
Priority: optional
Maintainer: ubuntu <ubuntu@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>

Package: extpython-python${PYTHON_MAJOR}
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
